<div class="relative overflow-x-auto m-4 sm:rounded-lg px-2">
  <!-- Search Container -->
  <div
    class="flex flex-col sm:flex-row items-center justify-between py-6 bg-white border-b border-[#393E46] space-y-4 sm:space-y-0"
  >
    <!-- Search Wrapper -->
    <div class="flex items-center space-x-2">
      <div class="relative">
        <!-- Search Input -->
        <input
          type="text"
          id="table-search-users"
          class="block w-96 py-2 pl-10 text-sm text-[#222831] bg-[#EEEEEE] border border-[#393E46] rounded-lg shadow-sm focus:ring-[#00ADB5] focus:border-[#00ADB5]"
          placeholder="Search for users..."
          [(ngModel)]="searchValue"
        />
      </div>

      <!-- Search Button -->
      <button
        type="button"
        class="px-4 py-2 text-white bg-[#00ADB5] rounded-lg hover:bg-[#0094a4] focus:outline-none focus:ring-2 focus:ring-[#00ADB5]"
        (click)="searchProduct()"
      >
        Search
      </button>
    </div>

    <!-- Page Size Dropdown -->
    <div class="flex items-center space-x-2">
      <label for="page-size" class="text-sm text-[#222831]">Page Size:</label>
      <select
        id="page-size"
        class="block w-14 py-2 pl-3 pr-6 text-sm text-[#222831] bg-[#EEEEEE] border border-[#393E46] rounded-lg focus:ring-[#00ADB5] focus:border-[#00ADB5]"
        [(ngModel)]="pageSize"
        (change)="onPageSizeChange($event)"
      >
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </div>
  </div>
</div>


<div class="notice-container mx-auto px-10">
  @for (product of products; track $index){

  <div
    class="bg-white rounded-lg shadow-xl overflow-hidden mx-3 mb-10 hover:shadow-2xl transition-shadow duration-300"
  >
    <img
      class="w-24 h-24 shadow-md"
      [src]="'data:image/jpeg;base64,' + product.imageContent"
      alt="Product Image"
      style="height: 100%; width: 100%; object-fit: cover"
    />
    <div class="p-6">
      <h3 class="text-2xl font-semibold text-[#393E46] truncate">
        {{ product.productName }}
      </h3>

      <p class="text-[#393E46] text-sm mt-2 line-clamp-3">
        {{ product.description }}
      </p>

      <div class="flex items-center justify-between mt-4">
        <span class="text-lg font-semibold text-[#00ADB5]">
          ${{ product.price }}
        </span>
        <span class="text-sm text-[#393E46]">
          {{ product.stockQuantity }} in stock
        </span>
      </div>
    </div>

    <div class="px-6 py-2 bg-[#F3F4F6] border-t border-[#393E46]">
      <p class="text-sm text-[#00ADB5]">
        Sold by:
        <span class="font-medium text-[#393E46]">{{
          product.seller.username
        }}</span>
      </p>
      <p class="text-xs text-[#393E46]">
        Added: {{ product.createdAt | date }}
      </p>
    </div>

    <div class="px-6 py-4 bg-[#F3F4F6] flex items-center justify-between">
      <button
        class="w-full bg-[#00ADB5] text-white text-sm font-medium py-2 px-4 rounded-md hover:bg-[#0094a4] focus:outline-none focus:ring-2 focus:ring-[#00ADB5] transition-colors duration-300"
        type="button"
        (click)="
          addToCart(
            product.productId,
            product.productName,
            product.description,
            product.imageContent,
            product.price,
            product.seller.username,
            product.stockQuantity
          )
        "
      >
        Add to Cart
      </button>
    </div>
  </div>
  }
</div>
<div class="clear-both pt-4">
  <div
    class="flex items-center justify-center mt-6 space-x-2 mx-auto max-w-fit"
  >
    <!-- Previous Button -->
    <button
      class="px-4 py-2 bg-[#EEEEEE] text-[#393E46] rounded-md hover:bg-[#F3F4F6] disabled:opacity-50 disabled:cursor-not-allowed"
      type="button"
      [disabled]="!(currentPage>1)"
      (click)="previousPage()"
    >
      Previous
    </button>

    <!-- Page Numbers -->
    <button
      class="px-4 py-2 bg-[#EEEEEE] text-[#393E46] rounded-md hover:bg-[#F3F4F6] focus:outline-none focus:ring-2 focus:ring-[#00ADB5]"
      type="button"
    >
      {{ currentPage }} / {{ totalPages }}
    </button>

    <!-- Next Button -->
    <button
      class="px-4 py-2 bg-[#EEEEEE] text-[#393E46] rounded-md hover:bg-[#F3F4F6] disabled:opacity-50 disabled:cursor-not-allowed"
      type="button"
      [disabled]="!(currentPage<totalPages)"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>