<nav class="bg-[#222831] border-[#393E46]">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-[#00ADB5]"
        >ShopNest</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-solid-bg"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-[#EEEEEE] rounded-lg md:hidden hover:bg-[#393E46] focus:outline-none focus:ring-2 focus:ring-[#00ADB5]"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
      <ul
        class="flex flex-col font-medium mt-4 rounded-lg bg-[#222831] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        @if (userRoles.includes('buyer')) {
        <li>
          <a
            routerLink="home"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#00ADB5] rounded md:hover:text-[#EEEEEE]"
            aria-current="page"
            (click)="AddUserAction('Home')"
            >Home</a
          >
        </li>
        } @if (userRoles.includes('buyer')) {
        <li>
          <a
            routerLink="cart"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Cart')"
            >Cart</a
          >
        </li>
        } @if (userRoles.includes('buyer')) {
        <li>
          <a
            routerLink="profile"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Profile')"
            >Profile</a
          >
        </li>
        } @if (userRoles.includes('seller')) {
        <li>
          <a
            routerLink="add-product"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Add-Product')"
            >Add Product</a
          >
        </li>
        } @if (userRoles.includes('admin')) {
        <li>
          <a
            routerLink="manage-user"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Manage-User')"
            >Manage Uers</a
          >
        </li>
        } @if (userRoles.includes('admin')) {
        <li>
          <a
            routerLink="audit"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Audit')"
            >Audit</a
          >
        </li>
        } @if (userRoles.includes('seller')) {
        <li>
          <a
            routerLink="product-list"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Product-List')"
            >Product List</a
          >
        </li>
      } @if (userRoles.includes('seller')) {
        <li>
          <a
            routerLink="stats"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
            (click)="AddUserAction('Retailer-Stats')"
            >Retailer Stats</a
          >
        </li>
      } @if (userRoles.includes('admin')) {

      <li>
        <a
          routerLink="manage-all-products"
          routerLinkActive="active"
          class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
          (click)="AddUserAction('All-Products')"
          >All Products</a
        >
      </li>
    } @if (userRoles.includes('seller')) {

      <li>
        <a
          routerLink="shiping-request"
          routerLinkActive="active"
          class="block py-2 px-3 md:p-0 text-[#EEEEEE] rounded hover:bg-[#393E46] md:hover:bg-transparent md:hover:text-[#00ADB5]"
          >Shiping Request</a
        >
      </li>
    }
        <li>
          <button (click)="onLogout()" class="text-[#dd3d53]">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
